<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIComs - Employee</title>
    <link rel="stylesheet" href="{{url_for('static',filename='employee2.css')}}">
    <link rel="icon" href="{{url_for('static',filename='images/mlogo.png')}}">
</head>
<body>
    <div class="logo"></div>
    <div class="title"><h3>ROOMS</h3></div>
    <div class="container">
        <table>
            <th>
                <tr>
                    <td>Sr.No.</td>
                    <td>Room Number</td>
                    <td>Issue</td>
                </tr>
            </th>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>541</td>
                    <td>A/C</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>1105</td>
                    <td>A/C</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>125</td>
                    <td>Carpenter</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>101</td>
                    <td>Carpenter</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button>SCAN</button>
</body>
</html>