*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --color-text-prime:#D7284F;
    --color-bgc:rgb(9, 1, 1);
    --blue-color:#3c9edf;
}

html,body{
    width:100%;
    height:100%
}

.services{
    backdrop-filter: blur(10px);
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:690px;
    height:100px;
    border-radius: 15px;
    border:1px solid var(--color-text-prime) ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding:10px;
}

.services a{
    text-decoration: none;
    color:black;
    background-color: rgb(63, 188, 237);
    padding:20px 25px;
    text-align: center;
    border-radius: 10px;
    transition: .3s;
}

.services a:hover{
    background-color: white;
}