*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;
    background-color: rgb(9, 1, 1);
    overflow: hidden;
}

.container{
    width:540px;
    height:600px;
    /* background-color: rgb(98, 4, 4); */
    border:2px solid #D7284F;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

.logo{
    position: absolute;
    top:-1%;
    left:50%;
    transform: translate(-50%,-50%);
    width:130px;
    height:110px;
    border-radius: 50%;
    overflow: hidden;
    /* border:1px solid rgb(129, 9, 9); */
}

.cred{
    width:490px;
    height:530px;
    /* border: 2px solid #37a16e; */
    border-radius: 10px;
    position: absolute;
    top:53%;
    left:50%;
    transform: translate(-50%,-50%);
}

form{
    width:490px;
    height:530px;
    /* border: 2px solid #2aa8c8; */
    border-radius: 10px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.cred input{
    color:#D7284F;
    padding:20px;
    font-size: 18px;
    font-family: poppins;
    outline: none;
}

.cred label{
    color:#D7284F;
    display:block;
    margin-top:20px;
    margin-left:20px;
    font-size:18px;
}

input{
    margin-top:10px;
    margin-left:20px;
}

#name{
    background-color: transparent;
    border: 2px solid #d7284e77;
    width:450px;
    height:43px;
    border-radius:10px;
}

#regid{
    background-color: transparent;
    border: 2px solid #d7284e77;
    width:150px;
    height:43px;
    border-radius:10px;

}

#l3{
    position: absolute;
    top:19%;
    left:35%;
}

#block{
    background-color: transparent;
    border: 2px solid #d7284e77;
    width:130px;
    height:43px;
    border-radius:10px;
    position: absolute;
    top:28%;
    left:35%;

}

#l4{
    position: absolute;
    top:19%;
    left:66%;
}

#room{
    background-color: transparent;
    border: 2px solid #d7284e77;
    width:120px;
    height:43px;
    border-radius:10px;
    position: absolute;
    top:28%;
    left:66%;
}

#mail{
    background-color: transparent;
    border: 2px solid #d7284e77;
    width:450px;
    height:43px;
    border-radius:10px;
}

#pwd{
    background-color: transparent;
    border: 2px solid #d7284e77;
    width:450px;
    height:43px;
    border-radius:10px;
}


#signup{
    position: absolute;
    top:84%;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top: 30px;
    width:450px;
    height:47px;
    outline:none;
    border:2px solid #D7284F;
    background-color: #D7284F;
    color:rgb(9, 1, 1);
    font-family: poppins;
    font-size: 17px;
    font-weight: 600;
    transition: .4s;
}

#signup:hover{
    background-color: #D7284F;
    color:rgb(9, 1, 1);
    letter-spacing: 3px;
    cursor: pointer;
}

.c1{
    width:400px;
    height:400px;
    background-color: #D7284F;
    border-radius: 50%;
    position: absolute;
    top:80%;
    left:-10%;
}

.c2{
    width:200px;
    height:200px;
    background-color: #D7284F;
    border-radius: 50%;
    position: absolute;
    top:30%;
    right:-8%;
}

.c3{
    width:200px;
    height:200px;
    background-color: #D7284F;
    border-radius: 50%;
    position: absolute;
    top:-20%;
    left:20%;
}