<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIComs - Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='logstyle.css')}}">
</head>
<body>
<!-- Main Container -->
    <div class="container"> 
        <!-- logo -->
        <div class="logo">
            <img src="{{url_for('static',filename='images/logo_1.png')}}" alt="VIComs Logo" width="130px" height="110px">
        </div>
    </div>
        <!-- Credentials Inputs -->
        <div class="cred">
            <form action="/student_page" method="post">
                <label for="regid" id="l1">Registration ID</label>
                <input type="text" name="regid" id="regid" autocomplete = "off" required >
                <label for="pwd" id="l2">Password</label>
                <input type="password" name="pwd" id="pwd" autocomplete = "off" required >
                <div class="button">
                    <button type="submit" id="login">LOGIN</button>
                    
                </div>
            </form>
        </div>
        <div class="signup">
            <p>For new users <a href="{{ url_for('sign_up_render') }}">click here </a>
        </div>
    </div>
<!-- Circles -->
    <div class="c1"></div>
    <div class="c2"></div>
    <div class="c3"></div>
<!-- Javascript link -->
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>